.modal{
    margin: 10px;
    width: 50vw;
    padding: 5px;
    margin: auto;
    border: 1px solid grey;
    border-radius: calc(0.5rem - 1px);
    box-shadow: 5px 5px lightslategray;
}
.modal-header{
    position: relative;
}
.modal-title{
    margin: 3px ;
    padding: 3px;
}
#closeicon{
    position: absolute;
    top: 0;
    right: 0;
}
.modal-body{
    padding: 2px;
    margin: 3px;
}
.modal-footer{
    padding: 2px;
    margin: 3px ;
    display: flex;
    justify-content: end;
}
.input-icon {
    position: relative;
  }
  
  .input-icon input {
    padding-right: 25px;
  }
  
  .input-icon .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('images/eye.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
.input-icon .icon.hide {
    background-image: url('images/blind.png');
}

.input-icon input[type="password"] {
    letter-spacing: 0.3em; /* Increase letter spacing to align text */
}

.input-icon input[type="password"].show {
    letter-spacing: normal; /* Reset letter spacing */
  }
  
  .input-icon input[type="password"]::-ms-reveal,
  .input-icon input[type="password"]::-ms-clear {
    display: none; /* Hide the default eye icon in IE/Edge */
  }
  
.button-outline{
    padding: 0.375rem 0.75rem;
    background-color: white;
    color: black;
    /* border-style: none; */
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1rem;
    cursor: pointer;
}

.button-outline:hover{
    padding: 0.375rem 0.75rem;
    background-color: rgb(167, 16, 16);
    color: white;
    border-color: rgb(167, 16, 16);
    border-radius: 5px;
    border: 1px solid white;
    font-size: 1rem;
    cursor: pointer;
}

.button-outline-grey{
    padding: 0.375rem 0.75rem;
    background-color: white;
    color: black;
    /* border-style: none; */
    border-radius: 5px;
    border: 1px solid grey;
    font-size: 1rem;
    cursor: pointer;
}
.button-outline-grey:hover{
    padding: 0.375rem 0.75rem;
    background-color: grey;
    color: white;
    /* border-style: none; */
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}
